 .box1{
 display:flex;
 align-items: flex-start;
 height: 20px;
 }
  .ASGISI {
    align-self:left;
  }
 
.GISIright {
    align-self: flex-end;
   
    
 }
 .body{
     align-items:centre;

 }






.b1{
    flex:auto;
    background-color: lightgray;
    
    

    
}
.google-logo {
        align-self: center;

}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:rgb(121, 129, 133);
    justify-content: space-evenly;
 }
 .navbarfooterone {
    align-items: flex-start;
 }

 .navbarfootertwo {
     align-items: flex-end;
 }



