
h1 {
    color: brown;

}



.b1{
    flex:auto;
    background-color: lightgray;
    background
    

    
}
.google-logo {

    align-items: center;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#6cf;
    justify-content: space-evenly;
 }



